span {
    background-color: rgb(230,230,230);
    display: inline-block;
    padding: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.cup {
    position: absolute;
}
img {
    transition: all 1s 2s ease;
}

#cupimage-1 {
    position: relative;
    width: 100px;
    height: 150px;
    background-color: green;
    z-index: 100;
}
#cupimage-2 {
    position: relative;
    width: 100px;
    height: 150px;
    z-index: 100;
}
#cupimage-3 {
    position: relative;
    width: 100px;
    height: 150px;
    z-index: 100;
    background-color: magenta;
}

.--open {
    transform: translate(0, -200px);
}
